<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <title>SaveMy.Song!</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style/main.css">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/playlist/playlist.js"></script>
  <script src="components/recording/recording.js"></script>
</head>

<body ng-app="app" ng-cloak ng-controller="MyCtrl as main">
  <md-toolbar ng-cloak layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" ng-click="main.toggleLeft()" aria-label="Show Menu">
      <i class="material-icons">menu</i>
    </md-button>
    <h1>SaveMy.Song {{ main.firebaseUser.displayName }}</h1>
    <div flex></div>
    <div>
      <div ng-show="firebaseUser">
        <h5>{{ firebaseUser.displayName }} </h5>
      </div>
      <div ng-hide="firebaseUser">
        <md-button ng-click="main.signIn()">
          sign-In - facebook
        </md-button>
      </div>

    </div>

  </md-toolbar>

  <div flex layout="row">
    <md-sidenav ng-cloak class="md-whiteframe-4dp sidenav" md-component-id="left" ng-click="main.toggleLeft()">
      <!-- Custom UsersList component -->
      <md-list>
        <md-list-item md-ink-ripple ng-href="#/">
          <md-icon class="material-icons">home</md-icon>
          <p>Home</p>
        </md-list-item>
        <md-list-item ng-href="#/recording">
          <md-icon class="material-icons">fiber_manual_record</md-icon>
          <p>Record</p>
        </md-list-item>
        <md-list-item ng-href="#/playlist">
          <md-icon class="material-icons">playlist_play</md-icon>
          <p>Playlist</p>
        </md-list-item>

        <md-divider></md-divider>
        <md-list-item ng-href="#">
          <md-icon class="material-icons">local_library</md-icon>

          <p> Preferences</p>
        </md-list-item>
        <md-list-item ng-href="#">

          <md-icon class="material-icons">settings</md-icon>
          <p>Settings</p>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content flex>
      <ng-view></ng-view>

   
    </md-content>

  </div>   <div class="btn-add">
        <md-button class="md-fab" aria-label="Comment">
          <md-icon class="material-icons">add</md-icon>
        </md-button>
      </div>
</body>

</html>