<div ng-cloak>
    <md-content flex layout-padding>
        <md-list>
            <md-list-item ng-cloak ng-repeat="recording in list">
                <p>{{recording.name}}</p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <md-icon class="material-icons">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                Pin
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                Share
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button>
                                Delete
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>

    </md-content>
</div>
<div class="btn-add">
    <md-button class="md-fab" aria-label="Comment" ng-href="#/recording">
        <md-icon class="material-icons">add</md-icon>
    </md-button>
</div>